#!/usr/bin/make -f

# Upstream dependencies are vendored under vendor/ (see README.source).
# Set CARGO_HOME to a local directory so that the build does not write to ~/.cargo.
export CARGO_HOME = $(CURDIR)/debian/.cargo
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked --offline

override_dh_auto_test:
	cargo test --release --locked --offline

override_dh_auto_install:
	install -D -m 755 target/release/pwldapd \
	    debian/pwldapd/usr/sbin/pwldapd
	install -D -m 644 pwldapd.8 \
	    debian/pwldapd/usr/share/man/man8/pwldapd.8
	install -D -m 644 debian/pwldapd.pam \
	    debian/pwldapd/etc/pam.d/pwldapd

override_dh_auto_clean:
	cargo clean
	rm -rf debian/.cargo
